*.dart linguist-language=Dart
*.cpp linguist-language=C++
*.h linguist-language=C++
*.c linguist-language=C
*.html linguist-language=HTML
*.swift linguist-language=Swift
*.cmake linguist-language=CMake
